# Trustee Guest Components Network

[Unit]
Description=Trustee Guest Components Network

[Network]
Subnet=10.99.0.0/24
Gateway=10.99.0.1

Label=app=trustee-gc
Label=purpose=internal-communication

